<header>
  <nav>
    <ul>
      <div class="left-nav">
        <li><a class="<%= title === "Home" ? "active" : "" %>" href="/">Home</a></li>
        <li><a class="<%= title === "About" ? "active" : "" %>" href="/about">About</a></li>
      </div>
      <div class="right-nav">
        <li><a class="<%= title === "Add Product" ? "active" : "" %>" href="/admin/add-product">Add Product</a></li>
      </div>
    </ul>
  </nav>
</header>
