<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="form-container">
      <form class="product-form" action="/admin/product" method="post">
        <div class="label-input">
          <label for="product">Product:</label>
          <input type="text" name="productName" id="product" />
        </div>
        <div class="label-input">
          <label for="price">Price:</label>
          <input type="number" name="productPrice" id="price" />
        </div>
        <button type="submit" class="product-form-btn">Add +</button>
      </form>
    </div>
  </body>
</html>
