<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <div class="left-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </div>
          <div class="right-nav">
            <li><a href="/admin/add-product">Add Product</a></li>
          </div>
        </ul>
      </nav>
    </header>
    <div class="form-container">
      <form class="product-form" action="/admin/product" method="post">
        <div class="label-input">
          <label for="product">Product:</label>
          <input type="text" name="productName" id="product" />
        </div>
        <div class="label-input">
          <label for="price">Price:</label>
          <input type="number" name="productPrice" id="price" />
        </div>
        <button type="submit" class="product-form-btn">Add +</button>
      </form>
    </div>
  </body>
</html>
