<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
</head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>This is the homepage</h1>
    <main>
      <section class="products-list">
        <% for (let i=0;i<products.length;i++){%>
        <article class="product">
          <p class="product-name"><%= products[i].productName %></p>
          <span class="product-price"><%= products[i].productPrice %></span>
        </article>
        <% } %>
      </section>
    </main>
  </body>
</html>
